<ul>
    <li>
        First item
    </li>
    <li>
        Second item
        <ul>
            <li>
                First subitem
            </li>
            <li>
                Second subitem
                <ul>
                    <li>
                        First subsubitem
                    </li>
                    <li>
                        Second subsubitem
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        Third item
    </li>
</ul>
